// fonts color
$font-white: #ffffff;
$font-gray: #646A89;
$font-dark-gray: #484C63;
$font-dark-blue: #1A2578;
$font-red: #BF0830;

$green: #0CAA41;

// background
$bg-linear: linear-gradient(247.11deg, #E3E7F6 3.56%, rgba(227, 231, 246, 0) 115.17%);
$bg-dark-blue: #0D123C;